
<div class="flex-container px-5">
  <div >
    <div class="d-flex flex-1 align-items-center justify-content-around">
      <div class="w-50">
        <h2>Chaise <%= @chair.name %></h2>
        <p class="card-address">
          <i class="fa-solid fa-star" style="margin-right: 4px;"></i><%= @chair.rating %>
          <i class="fa-solid fa-location-pin" style="margin-left: 20px; margin-right: 4px;"></i>   <%= @chair.address %>
        </p>

        <%# <div class="chair-400-600">
          <%= cl_image_tag @chair.photo.key %>
        <%# </div> %>

        <div class="card-trip">
          <%= cl_image_tag @chair.photo.key, width: 1200, crop: :scale %>
          <div class="card-trip-infos">
            <div>
              <h2><%= @chair.name.upcase %></h2>
              <p><%= @chair.description %></p>
            </div>
            <h2 class="card-trip-pricing"><span id="price_per_day"><%=@chair.price_per_day%></span> € / jour</h2>
            <%= cl_image_tag @chair.user.photo.key, width: 400, crop: :thumb, class: "card-trip-user avatar-bordered" %>
          </div>
        </div>
      </div>

      <div class="form">
        <div data-controller="display-price" data-display-price-chair-price-value="<%=@chair.price_per_day%>" class="rounded border p-2 border-bottom">
          <h2 class="text-center"><%="Réservez votre chaise !"%></h2>
          <hr />
            <%= simple_form_for([@chair, @booking]) do |f| %>
              <%= f.input :start_time, as: :date, html5: true, label: "Début de réservation", input_html: {min: Date.today, data: {action: "change->display-price#compute", display_price_target: "startDate"}}%>
              <%= f.input :end_time, as: :date, html5: true, label: "Fin de réservation", input_html: {min: Date.today, data: {action: "change->display-price#compute", display_price_target: "endDate"}}%>
              <p class="d-none" data-display-price-target="priceContainer">PRIX TOTAL: <span data-display-price-target="totalPrice">0 €</span></p>
              <div class="d-flex justify-content-center">
                <%= f.button :submit, "Réserver", disabled: true, class: "btn btn-chair", data: { display_price_target: "button" }%>
              </div>
            <% end %>
        </div>

      </div>

    </div>
  </div>

</div>
