<h1>Toutes les réservations que j'ai sur mes chaises à moi</h1>
</div>
<% @bookings.each do |booking| %>
  <div class="card-product">
    <%= cl_image_tag booking.chair.photo.key, crop: :fill, width: 300 %>
    <div class="card-product-infos">
      <h2><%=  booking.chair.name  %></h2>
      <p><li>De <%= booking.start_time %> à <%= booking.end_time %></li>
      <li><%= booking.total_price %> €</li>
      <li><%= booking.status %></li>
      </p>

    </div>
  </div>
<% end %>
<br><br>







<div>
